
*{
    box-sizing: border-box;
}
body{
    margin: 1rem;
}


.contenedor{
    width: 100vw;
    height: 100vh;
    margin: 1rem;
    padding: 2rem;
}


.bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}
.bar-elem{
    list-style-type: none;
}




@media only screen and  (max-width:24rem){
    .bar{
        flex-direction: column;
    }

    
}